* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../img/background2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    font-family: 'Courier New', Courier, monospace;
    & a {
        color: rgb(255, 255, 255);
        text-decoration: none;

        &:hover {
            text-decoration: none;
            color:rgb(255, 255, 255);
        }
    }
}

.titulosBarras {
    display: flex;
    justify-content: center;

    margin-top: 20px;
    padding: 20px;

    background: rgb(62,62,62);
    background: linear-gradient(90deg, rgba(62,62,62,1) 0%, rgba(142,142,142,1) 49%, rgba(62,62,62,1) 100%);
    border: 15px solid $color_titulosBordes;
    border-style: groove;

    font-family: "Press Start 2P";

    & h1 {
        animation-name: titulo;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
    }
}

@keyframes titulo{
    0%{
        color: darkred;
    }

    25%{
        color: orangered;
    }

    50%{
        color: rgb(255, 217, 0);
    }

    75%{
        color: orangered;
    }

    100%{
        color: darkred;
    }
}