
.index {
    &--container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex: 0 1 100%;
    }
    &--text {
        padding: 40px;
        margin: 60px;
        background: rgb(96,143,124);
        background: linear-gradient(90deg, rgba(96,143,124,1) 0%, rgba(67,113,92,1) 20%, rgba(67,113,92,1) 80%, rgba(96,143,124,1) 100%);
        border: 6px groove rgb(15, 94, 94);
    
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: stretch;

        & h1 {
            background: rgb(37, 68, 59);
            background: linear-gradient(180deg, rgba(26,55,47,1) 0%, rgba(16,54,36,1) 20%, rgb(16, 44, 31) 80%, rgb(16, 44, 31) 100%);
            padding: 10px;
            color: azure;

            font-size: 2rem;
            text-align: center;
            font-weight: 800;
        }
        & p {
            font-size: 24px;
            color: rgb(26, 24, 24);
            font-family: 'Courier New', Courier, monospace;
            font-weight: 700;

        }
        & a {
            text-decoration: none;
            color: rgb(5, 6, 88);
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            &:hover {
                color: black;
            }
        }


    }
    &--contenedorImage {
        width: 400px;
        margin: 80px;
        background-color: #130031;
        border: 10px groove #060022;
        & img {
            width: 100%;
        }
    }
}

.noticias {
    &--main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &--container {
        font-family: monospace;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        flex-wrap: nowrap;
        gap: 30px;
    }

    &--tarjetas {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        background-color: rgb(9, 9, 70);
        padding: 20px;
        margin: 50px;
        border: groove 6px rgb(0, 0, 36);

        & h3 {
            width: 550px;
            text-align: center;
            background-color: rgb(33, 24, 39);
            border: 2px solid rgb(18, 14, 20);
        }
        & a {
            text-decoration: none;
            color: rgb(255, 255, 255);
            font-family: 'Courier New', Courier, monospace;
            font-weight: 600;
            
            &:hover {
                color: rgb(255, 255, 255);
            }
        }
    }

    &--contenedorImagen {
        width: 550px;

        & img {
            width: 100%;
        }
    }
}

.videojuegos {
    &--main {
        display: flex;
        flex-wrap: nowrap;
        flex: 1 0 100%;
    }
    &--categorias {
        width: 210px;
        padding: 20px;
        background-color: darkcyan;
        border-right: 3px groove rgb(14, 112, 112);
        font-family: 'Courier New', Courier, monospace;
        font-weight: 800;
        color: azure;

        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 10px;
        flex-shrink: 0;


        &__lista {
            position: fixed;
            & h2 {
                text-align: center;
                font-family: 'Courier New', Courier, monospace;
                font-weight: 800;
                font-size: 1.3rem;
    
                background-color: #006d6d;
                padding: 10px;
            }
            & li {
                font-size: 1rem;
            }
            & ul {
                background-color: rgb(0, 109, 109);
                padding: 10px;
                list-style: none;
            }
        }
    }
    &--tarjetas {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    
        background-color: darkcyan;
        width: 250px;
        padding: 20px;
        padding-left: 10px;
        padding-right: 10px;
        margin: 20px;

        border: groove 4px rgb(0, 107, 107);
    }
    &--container {
        font-family: monospace;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    &--triangulo {
        width: 80px;

        & img {
            width: 100%;
        }
    }
    &--contenedorImagen {
        width: 150px;

        & img {
            width: 100%;
        }
    }

}

.compania {
    &--main {
        font-family: 'Courier New', Courier, monospace;
    }
    &--container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.contacto {
    &--main {
        margin: 25px;
        margin-top: 30px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    
        font-family: 'Courier New', Courier, monospace;
        color: azure;
    }
    &--container {
        display: flex;
        flex-direction: column;
        align-items: center;
    
        background-color: rgb(34, 78, 209);
        border: 3px solid darkblue;
        width: 520px;
        padding: 20px;
        margin-bottom: 15px;

        & h2 {
            font-size: 18px;
        }
        & p {
            text-align: center;
            font-size: 16px;
        }
    }
    &--form {
        font-size: 1.3em;
        margin: 0 auto;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__container {
            width: 300px;
            margin-top: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgb(34, 78, 209);
            border: 3px solid darkblue;
            color: azure;
        }
        &__text {
            width: 90%;
            margin-bottom: 10px;
        }
    } 
    &--contenedorBoton {
        display: flex;
        gap: 20px;
        justify-content: space-between;
        align-items: center;

        &__boton {
            background-color: rgb(0, 0, 79);
            margin-bottom: 15px;
            border: 3px solid rgb(0, 0, 37);
            width: 82px;
            color: azure;
            font-family: 'Courier New', Courier, monospace;
            text-align: center;
            padding: 10px;
            font-size: 1rem;
        }
    }
    &--contenedorImagen {
        padding: 10px;

        & img {
            width: 100%;
        }
    }
}
