.footer {
    @extend .navbar--color;

    border-top: 3px solid rgb(3, 3, 32);
    padding: 8px;


    &--icon {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2rem;

        &__container {
            width: 50px;
            padding: 5px;
            border-radius: 20px;
            
            & i {
                width: 100%;
            }
        }
    }

    &--contacto {
        margin-top: 40px;
    }
}

