$color_navbar: #060646;
$color_titulos: rgb(139, 139, 139);
$color_titulosBordes: rgb(99, 99, 99); 
$nintendoF: rgb(124, 0, 0);
$segaF: rgb(8, 36, 158);
$sonyF: rgb(1, 10, 51);
$nintendoT: rgb(223, 26, 65);
$segaT: rgb(56, 74, 235);
$sonyT: rgb(36, 158, 214);